<div class="jumbotron"
<div class="container left">
        <div class="row">
            <div class="col-md-8" >
            <h2> About</h2>
            <p> Created by <label><a href"#" >Peter Pitt-Williams</a></label>, a Computer Science student at Victoria University of Wellington. P2W Book Club is a dynamic and fully responsive website intended as a summer learning project. </p>
            <p> Furthermore, the experience gained by Peter has subsequently lead to addtional projects including the re-design
            of <label><a href"#" >Bloom Design Studio,</a></label>  a hand-made wooden furniture company based in New Zealand.</p><br>
            <h4>Intresting Website Information</h4>
            <p>The site is running on <label><a href"#" >Heroku</a></label> built using <label><a href"#" >Bootstrap</a> </label> all wrapped up using the popular <label><a href"#" >Rails</a></label>  framework. </p>
            
            



            </div>
          
            <div class="col-md-4">
                
                <img src="/logo.png" alt="..." class="img-responsive img-rounded">
            </div>
            
        </div>
    </div>
</div>