
<div class="container">
<div id="thumbnail">

	<img src="/write.jpg"  class="img-responsive" alt="Responsive image">
		<div class="caption post-content text-center">
  		<h1>Peter's Book Club</h1>
 		 

  <%= link_to "Get Started", "#", class: "btn btn-success btn-responsive" %> &nbsp;&nbsp;
  <%= link_to "Learn More", "#", class: "btn btn-default btn-responsive" %>


</div>
</div>
</div>




      
