<div class="jumbotron">
<div class="container" align="center">
  <h1>Welcome</h1>
  <p>P2W Book Club is an exciting new way to discover and discuss books.</p>

  <%= link_to "Get Started", "#", class: "btn btn-success" %> 
  <%= link_to "Learn More", "#", class: "btn btn-info " %>
</div>


</div>

